@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Quicksand:wght@400;500&family=Roboto&display=swap");

:root {
  --bg: #212121;
  --side-clr: #111827;
  --drk-clr: #030712;
}

body {
  width: 100vw;
  font-family: "Inter";
  color: black;
  background-color: white;
}
.task-container {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100vw;
  height: 15vh;
  padding-left: 30%;
}

.add-task {
  background-color: white;
  color: black;
  font-weight: 500;
}
#task-add {
  border-radius: 15px;
  border: solid white 1px;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 1.4rem;
}
#task-add:hover {
  color: cyan;
  cursor: pointer;
}

.modal {
  display: none;
  width: 25vw;
  height: 50vh;
  color: black;
  background-color: white;
  border-radius: 15px;
}

dialog[open] {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
dialog.projModal[open] {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
input {
  height: 25px;
  border-radius: 35px;
  background-color: #d0d0d0;
  padding-left: 10px;
  border: none;
}
.entry {
  display: flex;
  flex-direction: column;
}
#close-modal {
  height: 25px;
  margin-top: 10px;
  color: white;
  background-color: var(--drk-clr);
  border: none;
  border-radius: 35px;
}
#submit {
  margin-top: 10px;
  height: 25px;
  color: white;
  background-color: var(#212121);
  border: none;
  border-radius: 35px;
}
#close-modal:hover,
#submit:hover {
  cursor: pointer;
}

.task {
  width: 75vw;
  height: 10vh;
  background-color: ghostwhite;
  color: black;
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 10px;
  margin-left: 0px;
  padding-left: 50px;
}

.task-div {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  margin-left: 15vw;
  gap: 25px;
}

.line-break {
  border-top: solid 0.5px black;
  width: 40vw;
}
.uiDiv {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.task-line {
  border-top: solid 0.2px gray;
}
.side-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--side-clr);
  color: white;
  padding: 20px;
}

.side-section h2 {
  margin-bottom: 10px;
}

#task-projects {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#new-proj {
  border-radius: 20px;
  background-color: #253556;
  color: white;
  border: none;
  height: 40px;
  width: 160px;
}

#new-proj:hover {
  border: solid 1px #253556;
  background-color: white;
  color: #253556;
  cursor: pointer;
}

#selected {
  background-color: hsl(222, 31%, 30%);
  color: white;
}
#task-projects > li {
  display: flex;

  gap: 20px;
}

.fas.fa-trash-alt:hover {
  cursor: pointer;
}
